{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Seyf Eddine Abdellaoui">
    {% block metatags %}
    {% endblock metatags %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css">
    <script src="https://kit.fontawesome.com/81e0548c46.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/seyfeddine-logo.webp' %}">
    <title>{% block title %}AFIND Formation{% endblock %}</title>
</head>
<body>
    <!--===== HEADER =====-->
    {% include "header.html" %}
    <!--===== MAIN =====-->
    <main class="main">
        {% block content %}
        {% endblock content %}
    </main>
    <!--===== FOOTER =====-->
    {% include "footer.html" %}
    <!--===== SCRIPT JS =====-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>

