<section class="contact section" id="contact">
    <h5 class="section-subtitle">Contact</h5>
    <h2 class="section-title">let's Talk</h2>
    <div class="container">
        <div class="contact-info">
            <h3>Informations de contact</h3>
            <p><i class="bx bx-phone"></i>(+213) 794 87 85 08</p>
            <p><i class="bx bx-envelope"></i>seyfeddin.freelance@gmail.com</p>
            <p><i class="bx bx-map"></i>TLEMCEN - ALGERIA</p>
        </div>
        <form action="#" method="POST" class="contact-form" id="contact-form">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {% if message.tags == 'success' %}
                        <i class='bx bx-check-circle alert-icon'></i>
                    {% elif message.tags == 'error' %}
                        <i class='bx bx-error-circle alert-icon'></i>
                    {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            <input type="text" id="full_name" name="full_name" placeholder="Enter your name" required>
            <input type="email" id="email" name="email" placeholder="Enter a valid email address" required>
            <textarea id="message" name="message" placeholder="Enter your message" required></textarea>

            <button type="submit" class="button">Submit</button>
            
        </form>
    </div>
</section>