{% load static %}
<section class="home section" id="home">
    <!-- زخرفة جانبية -->
    <div class="vertical-strip"></div>
    <div class="container">
        <div class="home_img">
            <!-- <img class="banner" src="{% static 'img/banner.png' %}" alt=""> -->
        </div>
        <h1 class="home_title">Hi,
            <br>I'am <span class="home_title-color" id="typed-strings"></span>
            <!-- <span class="typed-cursor typed-cursor--blink" aria-hidden="true">|</span><br>  -->
        </h1>
        <div class="home_social">
            <a title="linkedin Link" href="https://www.linkedin.com/in/seyfeddine-abdellaoui" target="_blank" class="home_social-icon"><i class="bx bxl-linkedin"></i></a>
            <a title="behance Link" href="https://www.behance.net/seyfeddineAbdellaoui" target="_blank" class="home_social-icon"><i class="bx bxl-behance"></i></a>
            <a title="github Link" href="https://github.com/seyf-eddine19" target="_blank" class="home_social-icon"><i class="bx bxl-github"></i></a>
        </div>
        <p class="text">
            I'm Seyf Eddine, a skilled network engineer and developer from Algeria. I specialize in desktop application development, front-end design, and web development, and I am passionate about creating remarkable projects and delivering exceptional user experiences. Whether you need a custom web application, a responsive website, or professional guidance on your next project, I am here to help you achieve your goals. Let's collaborate and bring your ideas to life!
        </p>
        <!-- <div class="about-img">
            <img width="300px" height="auto" src="{% static 'img/seyfeddine.jpg' %}" alt="">
        </div> -->
        <div class="home-links">
            <a href="#contact" class="button btn">Get in Touch</a>
            <a href="#projects" class="button">View Portfolio</a>
        </div>
    </div>
    <!-- شريط زخرفي علوي -->
    <!-- <div class="zakhrafa-strip"></div> --> 
</section>