<section class="projects section" id="projects">
    <h5 class="section-subtitle">My Portfolio</h5>
    <h2 class="section-title">Some of My Recent Projects</h2>
    <div class="grid-container container">
        {% if projects %}
            {% for project in projects %}
            <article class="projects-card">
                <img src="{{ project.image.url }}" alt="{{ project.title }}" class="projects-img">
                <div class="projects-content">
                    <h3 class="projects-title"><a href="{% url 'project_detail' project.id %}">{{ project.title }}</a></h3>
                    <p class="projects-description">{{ project.description|truncatewords:12 }}</p>
                    <div class="projects-links">
                        {% if project.url %}
                            <a href="{{ project.url }}" class="project-btn"><i class="fa fa-link" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if project.github_url %}
                            <a href="{{ project.github_url }}" class="project-btn"> <i class="fab fa-github"></i></a>
                        {% endif %}
                        <a href="{% url 'project_detail' project.id %}" class="project-btn">See Details <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </article>
            {% endfor %}
        {% else %}
        <p>No projects available.</p>
        {% endif %}
    </div>
</section>
