{% extends "base.html" %}
{% block title %}AFIND project{% endblock %}
{% block content %}
{% load static %}
    <section class="home section" id="home">
        <!--===== SEARCH =====-->
        <section class="search" id="search">
            <div class="container">
                <form method="GET" action="{% url 'projects' %}">
                    <input type="text" name="q" placeholder="Rechercher des projects..." value="{{ request.GET.q }}">
                    <button class="button" type="submit">Rechercher</button>
                </form>
            </div>
        </section>
    </section>
    <!--===== projectS =====-->
    {% include "projects_section.html" %}
{% endblock %}