{% if services %}
<section class="services section" id="services">
    <h5 class="section-subtitle">My Services</h5>
    <h2 class="section-title">My Provided Features</h2>
    <div class="container">
        <p class="text"></p>
        <div class="services-div">
            {% for service in services %}
            <div class="services-card">
                <div class="services-icon">
                    {{ service.icons|safe }}
                </div>
                <h3 class="">{{ service.name }}</h3>
                <p class="">{{ service.description|safe  }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}