{% if skills %}
<section class="skills section" id="skills">
    <h5 class="section-subtitle">Why Choose Me</h5>
    <h2 class="section-title">My Skills</h2>
    <div class="container">
        {% for skill in skills %}
        <div class="skills-card">
            <img class="skills-img" style="max-width: 100px;" src="{{ skill.image.url }}" alt="{{ skill.name }} logo">
            <h5 class="skills-name">{{ skill.name }}</h5>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}